.dark-bg {
    background-color: #262121;
    color: white;
}

.black-bg {
    background-color: black;
    color: white;
}

.search-btn {
    background-color: yellow;
    color: black;
}

.search-btn:hover {
    background-color: black;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: yellow;
}